
<div class="well">
    <h1 class="">3-Column Layout</h1>
    <p class="">This is a template example that uses the Bootstrap framework to create
        a responsive three-column layout. The left column (narrow) contains a sidebar,
        the center column (mid) contains features with image/caption, and the right
        column (widest) contains content.</p> <a href="http://www.bootply.com/63275"
    class="btn btn-primary">Details</a>
    <span class="badge pull-right">100</span>
</div><!--well-->

