
<div class="well home-well">
    <h1 class="">Hasta Girişi</h1>
    <%= link_to "Giriş", new_patient_session_path, class: "btn btn-primary" %>
</div><!--well-->
<div class="well home-well">
    <h1 class="">Doktor Girişi</h1>
    <%= link_to "Giriş", new_doctor_session_path, class: "btn btn-primary" %>
</div><!--well-->



