<div id = "general-section">
    <h1 class = "visual-header"><%= "#{@visual.date} Tarihli Görüntü" %></h1>
    <div id = "visual-type">
        <div class = "info-title">Türü:</div>
        <div><%= @visual.tip %></div>
    </div>    
    <div id="visuals-section">            
        <div id ="visual-left-column">
            <p class = "info-title">Görüntü:</p>
             <div class = "visual-image">
                <%= image_tag @visual.image_url, size: "350x350" %>
             </div>
        </div>
        <div id ="visual-right-column">
             <p class = "info-title" >Açıklamalar</p>
             <div> 
                 <p id="explanations"><%= @visual.notes %>!</p>
             </div>              
        </div>      
    </div>
</div>
