<div class="nested-fields">
  <%= f.input :name, as: :string %>
  <%= f.input :notes, as: :text, input_html: { cols: 52, rows: 5 } %>
  <%= link_to_remove_association "Ilac Cikar", f, class: "btn btn-danger btn-small" %>
</div>