<h3>Receteler</h3>
<%= render partial: "prescriptions/prescription", collection: prescriptions, as: :prescription %>

<h3>Rontgenler</h3>
<%= render partial: "visuals/visual", collection: visuals, as: :visual %>