<h1><%= "Hastanin Adi: #{@patient.full_name}" %></h1>
<h1><%= "Hastanin TK Kimlik Numarasi: #{@patient.tc_no}" %></h1>

<%= render partial: "shared/details", locals: { prescriptions: @prescriptions, visuals: @visuals } %>