<div id = "patient-page">
	<div id = "patient-information">
		<div class = "info-text">Hastanin Adi: </div> 
		<div class = "patient-info"><%="#{@patient.full_name}" %></div> 
		<div class = "info-text">Hastanin TC Kimlik Numarasi:</div> 
		<div class = "patient-info"><%="#{@patient.tc_no}" %></div>
	</div><!--patient-information-->

	<div class="well section-box">
		<h3 class = "section-title">Reçeteler</h3>
		<%= render @prescriptions %>
	</div><!--well-->

	<div class="well section-box">
		<h3 class = "section-title">Röntgenler</h3>
	</div><!--well-->
</div><!--patient-page-->

