<div class="short-form">
  <%= simple_form_for :patient, method: "get", url: search_patient_path, html: { class: "form-horizontal" } do |f| %>
    <%= f.input :tc_no, label: "Hasta TC Kimlik No", as: :string %>
    <%= f.submit "Ara", class: "btn btn-primary btn-medium pull-right" %>
  <% end %>
</div>