// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Home Page*/
.well
{
  padding-top: 5px;
  width: 350px;
  text-align: center;
}

/*END --- Home Page*/

/*Footer*/
.footer-bar
{
  left: 4%;
	width: 90%;
  height: 55px;
  margin-bottom: 4px;
  top: 90%;

  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(227, 227, 227);
  border-radius: 5px;
}

.footer-button
{
	margin-top: 8px;
	margin-right: 40px;
	right: 40%;
}

#footer-text
{
	float: left;
	margin-left: 40px;
  margin-top: 10px;
}

/*END --- Footer*/


/* Sidebar*/
#proper-sidebar
{
  text-align: center;
  position: fixed;
  left: 30px;
  top: 100px;
  width: 155px;
}

.sidebar-item
{
  width: inherit;
  font-weight: 400;
  font-size: 14pt;
  padding-top: 3px;
  padding-bottom: 3px;
}
/*END --- Sidebar*/



.form-actions
{
  background-color: white;
  border-style: none;
  margin-left: 50px;
}

#sign-in-button
{
  margin-left: 40px;
  margin-top: 0px;
  padding-top: 0px;
}

#contact-button
{
  float: right;
}

#user-name
{
  font-size: 15pt;
  color: white;
  float: right;
  padding-top: 0px;

}

#username-nav-item
{
    float: right;
    margin-right: 50px;

}

#exit-nav-item
{
    float: right;
}

.nav
{
  width: 83%;
}

.short-form
{
  margin-top: 40px;
}