// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*Home Page*/
.well
{
  padding-top: 5px;
  width: 350px;
  text-align: center;
}

/*END --- Home Page*/

/*Footer*/
.footer-bar
{
	width: 100%;
	position:bottom;
}

.footer-button
{
	margin-top: 12px;
	margin-right: 40px;
	right: 40%;
}

#footer-text
{
	float: left;
	margin-left: 40px;
}

/*END --- Footer*/


/* Sidebar*/

/*END --- Sidebar*/
#proper-sidebar
{
  position: fixed;
  left: 10px;
  margin-top: 45px;
}

.form-actions
{
  background-color: white;
  border-style: none;
  margin-left: 50px;
}

#sign-in-button
{
  margin-left: 40px;
  margin-top: 0px;
  padding-top: 0px;
}

#contact-button
{
  float: right;
}

#user-name
{
  font-size: 15pt;
  color: white;
  float: right;
  padding-top: 0px;

}

#username-nav-item
{
    float: right;
    margin-right: 50px;

}

#exit-nav-item
{
    float: right;
}

.nav
{
  width: 83%;
}

.short-form
{
  margin-top: 40px;
}