// Place all the styles related to the visuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.visual-header
{
    text-align: center;
    width: 510px;
    padding-left: 4px;
    padding-right: 4px;
    color:black;
    font-weight: 700;

    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(227, 227, 227);
    border-radius: 20px;
}
#general-section
{
    height: 600px;
}
#visual-type
{
    padding-top: 2px;
    padding-bottom: 5px;
}

#visual-title-type
{
    font-size: 13pt;
    font-weight: 400;
}

#visuals-section
{
    height: 480px;
    border-style: solid;
    border-color: gray;
}
#visual-left-column
{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
#visual-right-column
{
    margin-top: 30px;
    float:left;
    margin-left: 10px;
}
.info-title
{
    font-size: 14pt;
    font-weight: 400;

    float: left;
    width: 100px;
    margin-left: 10px;
    font-weight: 600;
    font-style: italic;
}
.visual-image
{
    margin-left: 10px;
}
#image-file
{
    width: 500px;
}
