     <div class = "navbar navbar-default navbar-bottom">
        <div id="footer-container" class = "container">
            <p class = "navbar-text pull-left">İstanbul Sağlık Hizmetleri powered by Bizimkafa</p>
            <a id = "contact-button" href = "" class = "navbar-btn btn-danger btn pull-right">Bize Ulaşın</a>
        </div><!--container-->
    </div><!--navbar-bottom
</div><!--containerFluid-->