     <div class = "navbar navbar-default navbar-fixed-bottom">
        <div class = "container">
            <p class = "navbar-text pull-left">İstanbul Sağlık Hizmetleri powered by Bizimkafa</p>
            <a href = "" class = "navbar-btn btn-danger btn pull-right">Bize Ulaşın</a>
        </div><!--container-->
    </div><!--navbar-bottom
</div><!--containerFluid-->