     <div class = "navbar navbar-default navbar-fixed-bottom footer-bar">
            <div id = "footer-text" class = "navbar-text pull-left">İstanbul Sağlık Hizmetleri powered by Bizimkafa</div>
            <div class = "footer-button">
            	<a id = "contact-button" href = "" class = "navbar-btn btn-danger btn pull-right">Bize Ulaşın</a>
            </div>
    </div><!--navbar-bottom