<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
<%= link_to "Istanbul Sağlık Hizmetleri", static_pages_home_path, class: "brand" %>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                        <%= link_to "Ana Sayfa", static_pages_home_path, class: "", contenteditable: "false" %>
                    </li>      
                    <%if doctor_signed_in?%>
                        <li>
                            <a href="#" class="" contenteditable="false">Kişisel Bilgilerim</a>
                        </li>
                             <li><a href="#" class="" contenteditable="false">Example</a>
                        </li>
                        <li id = "exit-nav-item">
                            <%= link_to "Çıkış", destroy_doctor_session_path, method: :delete %>
                        </li>
                        <li id = "username-nav-item">
                            <h4 id = "user-name"><%= current_doctor.full_name if doctor_signed_in? %></h4>
                        </li>
                        
                    <%end%>
                </ul>
            </div>
        </div>
    </div>
</div>