<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 <a class="brand" href="http://bootply.com">Istanbul Sağlık Hizmetleri</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#" class="" contenteditable="false">Ana Sayfa</a>
                    </li>
                    <li><a href="#" class="" contenteditable="false">Kişisel Bilgilerim</a>
                    </li>
                    <li></li>
                    <li><a href="#" class="" contenteditable="false">Example</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>