<div class="span2">
  <!--sidebar-->
  <div id = "proper-sidebar" class="sidebar-nav-fixed" data-spy="affix" data-offset-top="140">
      <ul class="nav">
          <hr style="margin: 0px; border-width: 3px">
          <li>
              <a href="#" class="sidebar-item">Reçeteler</a>
          </li>
          <hr style="margin: 0px; border-width: 3px">
          <li>
              <a href="#" class="sidebar-item" contenteditable="false">X-Rays</a>
          </li>
          <hr style="margin: 0px; border-width: 3px">
          <li>
              <a href="#" class="sidebar-item">Tahlil Sonuçları</a>
          </li>
          <hr style="margin: 0px; border-width: 3px">
          <li>
              <a href="#" class="sidebar-item">Aşılar</a>
          </li>
          <hr style="margin: 0px; border-width: 3px">
          <li>
              <a href="#" class="sidebar-item">Alerjiler</a>
          </li>
          <hr style="margin: 0px; border-width: 3px">

      </ul>
  </div>
</div>