<div class="span2">
  <!--sidebar-->
  <div id = "proper-sidebar" class="sidebar-nav-fixed" data-spy="affix" data-offset-top="140">
      <ul class="nav">
          <li>
              <a href="#" class="">Reçeteler</a>
          </li>
          <hr style="margin: 0px">
          <li>
              <a href="#" class="" contenteditable="false">X-Rays</a>
          </li>
          <hr style="margin: 0px">
          <li>
              <a href="#" class="">Tahlil Sonuçları</a>
          </li>
          <hr style="margin: 0px">
          <li>
              <a href="#" class="">Aşılar</a>
          </li>
          <hr style="margin: 0px">
          <li>
              <a href="#" class="">Alerjiler</a>
          </li>
      </ul>
  </div>
</div>