 <div class="span2">
            <!--sidebar-->
            <div id = "proper-sidebar" class="sidebar-nav-fixed" data-spy="affix" data-offset-top="140">
                <ul class="nav nav-list">
                    <li><a href="#" class="">Reçeteler</a>
                    </li>
                    <li></li>
                    <li></li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" class="" contenteditable="false">X-Rays</a>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li class="divider"></li>
                    <li></li>
                    <li>
                        <a href="#" class="">Tahlil Sonuçları</a>
                    </li>
                    <li></li>
                    <li></li>
                    <li class="divider"></li>
                    <li></li>
                    <li></li>
                    <li>
                        <a href="#" class="">Aşılar</a>
                    </li>
                    <li></li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" class="">Alerjiler</a>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>